@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
        url('fonts/Ubuntu-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('fonts/UbuntuCondensed-Regular.woff2') format('woff2'),
        url('fonts/UbuntuCondensed-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Light.woff2') format('woff2'),
        url('fonts/Ubuntu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('fonts/Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-LightItalic.woff2') format('woff2'),
        url('fonts/Ubuntu-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-BoldItalic.woff2') format('woff2'),
        url('fonts/Ubuntu-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu-Italic.woff2') format('woff2'),
        url('fonts/Ubuntu-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

html,
body {
	font-family: 'Ubuntu', 'Arial', sans-serif;
	min-width: 320px;
	width: 100%;
	overflow-x: hidden;
	font-size: 16px;
    color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    color: $color-heading;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

h1 {
    // font-size: 120px;
    // line-height: 160px;
}

h2 {
    font-size: 45px;
    line-height: 55px;
}

h3 {
    font-size: 40px;
    line-height: 50px;
}

h4 {
    font-size: 30px;
    line-height: 40px;
}

h5 {
    font-size: 24px;
    line-height: 32px;
}

h6 {
    font-size: 18px;
    line-height: 32px;
}

.color-primary {
    color: $color-primary;
}

.color-white {
    color: $color-white;
}

p {
    font-family: 'Ubuntu', 'Arial', sans-serif;
	font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 0;

    &.small {
        font-size: 14px;
        line-height: 24px;
    }

    &.big {
        font-size: 18px;
        line-height: 32px;
    }
}

.clearfix {
	&::after {
	    content: '';
	    display: table;
	    clear: both;
	}
}

.button {
    position: relative;
    display: inline-block;
    font-size: 22px;
    line-height: 1;
    font-weight: 300;
    border: 2px solid transparent;
    padding: 14px 32px;
    transition: $tr300;

    &:hover {
        text-decoration: none;
    }

    &:active {
        top: 2px;
        left: 2px;
    }
}

.button--transparent {
    color: $color-white;
    border-color: $color-white;

    &:hover {
        background-color: $color-white;
        color: $color-primary;
    }
}

.button--transparent-dark {
    color: $color-primary;
    border-color: $color-primary;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }
}

/* ELEMENTS */
.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
        font-size: 20px;
        line-height: 1;
        color: $color-white;
        font-weight: 300;

        &:not(:last-child) {
            margin-right: 20px;
        }

        &.active {
            font-weight: 700;
        }
        
        a {
            color: inherit;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.social-icons {
    .icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    // .icon-vk {
    //     background-image: url('images/vk.png');
    // }
    // .icon-ig {
    //     background-image: url('images/ig.png');
    // }
    // .icon-tw {
    //     background-image: url('images/tw.png');
    // }
    // .icon-tg {
    //     background-image: url('images/tg.png');
    // }
    // .icon-fb {
    //     background-image: url('images/fb.png');
    // }
}
/* === */
