
$color-black: #000;
$color-white: #fff;

$color-primary: #2e3847;

$color-text: $color-primary;
$color-heading: $color-primary;
// $color-green-dark: #309C62;
// $color-green: #3EA125;
// $color-green-light: #52C56B;
// $color-lime-dark: #75C121;
// $color-lime: #8CDB35;
// $color-lime-light: #A2F04D;
// $color-heading: #333333;
// $color-text: #444444;
// $color-text-light: #666666;
// $color-gray-dark: #979797;
// $color-gray: #CCCCCC;
// $color-gray-light: #DADADA;
// $color-gray-lighter: #EEEEEE;
// $color-gray-sasha: #F3F3F3;


$tr150: all 150ms;
$tr300: all 300ms;
$tr600: all 600ms;

