
@import 'css/variables';
@import 'css/basic-styles';


/* HEADER */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, $color-black 0%, transparent 80%);
    z-index: 5;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .main-menu {
        margin-top: 40px;
    }

    .social-icons {
        margin-top: 40px;
    }
}

.header-logo {
    display: inline-block;
    width: 180px;
    height: auto;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 5px 5px 20px 0 rgba($color-black, 0.8);
    }
}
/* === */

.fil1 {
    fill: #000;
}


/* SECTION-ROUTE */
.section-route {
    width: 100%;
    //height: 840px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 276px;
    padding-bottom: 88px;
    position: relative;
}

.route-holder {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-40%);

    svg {
        width: 1000px;
        height: 600px;
    }

    .port {
        fill: #fff;
        stroke: #fff;
        stroke-width: 1px;

        &.in-action {
            stroke: #e7b400;
            fill: #e7b400;
            stroke-width: 10px;
        }

        &.done {
            stroke: #e7b400;
            fill: #e7b400;
        }
    }

    .path {
        fill: none;
        stroke:#fff;
        stroke-width: 1px;
        stroke-dasharray: 5px;

        &.in-action {
            stroke: #e7b400;
            stroke-width: 5px;
        }

        &.done {
            stroke: #e7b400;            
        }
    }
}

.route-info-item {
    margin-bottom: 24px;

    .title {
        font-size: 13px;
        line-height: 15px;
        font-weight: 700;
        color: $color-white;
        text-transform: uppercase;
    }

    .subtitle {
        font-size: 13px;
        line-height: 15px;
        font-weight: 700;
        color: $color-white;
    }

    .data {
        font-size: 18px;
        line-height: 1;
        font-weight: 700;
        color: #e7b400;
    }

    .counter {
        font-size: 58px;
        margin-right: 4px;
        animation-duration: 1s;
        animation-delay: 0s;
        opacity: 0;

        &.show {
            opacity: 1;
        }
    }
}
/* === */

/* SECTION-NEWS */
.section-news {
    background-color: $color-primary;
    padding-top: 96px;
    padding-bottom: 72px;
}
.news-item {
    margin-bottom: 32px;
    display: block;

    img {
        width: 100%;
        height: 266px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .date {
        font-size: 20px;
        line-height: 1;
        font-weight: 400;
        color: #9dceff;
        margin-bottom: 16px;
    }

    .title {
        font-size: 23px;
        line-height: 28px;
        font-weight: 700;
        color: $color-white;
        margin-bottom: 24px;

        a {
            color: inherit;
        }
    }

    .text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: $color-white;
    }
}
/* === */

/* JOURNAL */
.section-journal {
    background-color: #d2d7d9;
    padding-bottom: 56px;

    .heading-bg {
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        padding-top: 96px;
        padding-bottom: 112px;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 120px;
            background-image: linear-gradient(to bottom, transparent 0%, #d2d7d9 100%);
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .subtitle {
            font-size: 32px;
            line-height: 1;
            font-weight: 700;
        }
    }
}

.ship-record {
    margin-bottom: 30px;

    .date {
        font-size: 20px;
        line-height: 1;
        font-weight: 700;
    }

    .text {
        font-size: 20px;
        line-height: 26px;
        font-weight: 300;

        p,
        ul,
        ol {
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
        }
    }

    .record-separator {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        img {
            flex: 23px 0 0;
            margin-right: 12px;
        }

        .line {
            flex: auto 0 0;
            width: 100%;
            height: 1px;
            background-color: $color-primary;
        }
    }

    .attachment-block {
        .attachment-row {
            margin-bottom: 16px;

            a {
                margin-right: 8px;
            }
        }

        .video {
            display: inline-block;
            width: 180px;
            height: 100px;
            background: url('images/thumb-video.png') no-repeat 50% 50%;
            background-size: cover;
        }

        .pic {
            display: inline-block;
            width: 100px;
            height: 100px;
            background: url('images/thumb-photo.png') no-repeat 50% 50%;
            background-size: cover;
        }

        .doc {
            display: inline-block;
            width: 50px;
            height: 68px;
            background: url('images/thumb-doc.png') no-repeat 50% 50%;
            background-size: cover;
        }
    }
}
/* === */

/*ad-banner*/
.ad-banner {
    width: 100%;
    height: auto;

    img {
        width: 100%;
        height: auto;
    }
}
/* === */

/* ABOUT-KRUZ*/
.about-kruz {
    position: relative;

    .banner {
        position: relative;
        width: 100%;
        height: 480px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;


        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 180px;
            background-image: linear-gradient(to bottom, transparent 0%, $color-white 100%);
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

.history-block {
    position: relative;
    width: 100%;
    background-size: 600px auto;
    background-repeat: no-repeat;
    background-position: 15% 95%;   
    padding-top: 72px;
}

.history-block-content {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding-bottom: 64px;
    margin-bottom: 40px;

    .text {
        position: relative;
        flex: 45% 0 0;
        padding-right: 32px;
        padding-bottom: 100px;
        font-weight: 300;
        p {
            font-size: 20px;
            line-height: 26px;
            font-weight: 300;
        }

        .ministr-titles {
            position: absolute;
            left: 0;
            bottom: 0;

            .name {
                font-size: 20px;
                line-height: 26px;
                font-weight: 700;
            }
        }
    }

    .pic {
        flex: 55% 0 0;
        height: 780px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content {
            position: relative;
            z-index: 5;
        }

        .bg {
            position: absolute;
            top: 60px;
            left: 60px;
        }
    }
}
/* === */

/* specifications */
.specifications {
    position: relative;
    background-color: $color-white;
    padding: 96px 0;
}

.specifications-block {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    .pic-holder {
        flex-basis: 500px;
        flex-shrink: 0;
        flex-grow: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .details {
        background-color: $color-primary;
        padding: 72px 56px;

        table {
            width: 100%;
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            color: $color-white;
            text-transform: uppercase;
            text-align: left;

            tr:not(:last-child) {
                border-bottom: 1px solid $color-white;
            }

            td {
                padding: 8px 16px;
            }

            td:first-child {
                padding-left: 40px;
            }

            td:last-child {
                padding-right: 40px;
            }
        }
    }
}

/* === */

/* CREW */
.crew {
    min-height: 618px;
    padding: 88px 0;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
}

.crew-slider {
    margin-left: -120px;
    margin-right: -120px;

    .slide {
        .pic-wrap {
            width: 240px;
            height: 308px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pic-holder {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 4px 4px 18px 5px rgba($color-black, 0.7);
            transition: $tr600;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }

        .titles {
            .name {
                font-size: 20px;
                line-height: 1;
                font-weight: 700;
                color: $color-white;
                text-align: center;
                margin-bottom: 4px;
                transition: $tr600;
            }

            .post {
                font-size: 14px;
                line-height: 1;
                font-weight: 700;
                color: $color-white;
                text-align: center;
                transition: $tr600;
            }
        }
    }

    .slick-active.medium {
        .pic-holder {
            width: 210px;
            height: 210px;
        }
        .name {
            font-size: 24px;
        }
        .post {
            font-size: 16px;
        }
    }

    .slick-active.large {
        .pic-holder {
            width: 240px;
            height: 240px;
        }
        .name {
            font-size: 30px;
        }
        .post {
            font-size: 20px;
        }
    }
}

/* === */

/* SPONSORS */
.sponsors {
    position: relative;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    padding: 104px 0;
}

.sponsors-slider {
    padding: 72px 0;
    
    .slide {
        padding: 16px;
        img {
            width: 100%;
            max-height: 135px;
            object-fit: contain;
            object-position: 50% 50%;
        }
    }
}

.sponsors-partners {
    position: relative;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    padding: 64px 0;
}
/* === */

/* main-slider*/
.main-slider {
    position: relative;
    width: 100%;

    .slide {
        width: 100%;
        height: 840px;
        position: relative;
        display: flex;
        align-items: flex-end;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .slick-next {
        right: 25px;
    }

    .slick-prev {
        left: 25px;
        z-index: 5;
    }
}

/* === */

/* EXPEDITION-ABOUT*/
.expedition-about {    

    .history-block {
        z-index: 5;
    }

    .sailboats {
        margin-top: -170px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        padding: 200px 0;
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100px;
            position: absolute;
            left: 0;
        }

        &::before {
            top: 0;
            background: linear-gradient(to bottom, $color-white 0%, transparent 100%);
        }

        &::after {
            bottom: 0;
            background: linear-gradient(to top, $color-white 0%, transparent 100%);
        }
    }

    .boats-block {
        display: flex;
        justify-content: flex-start;

        .boat-item {
            flex: 33.33% 0 0;
            display: block;
            text-align: center;

            svg {
                stroke: transparent;
                stroke-width: 20; 
                transition: all 300ms ease;
            }

            .name {
                display: inline-block;
                text-align: center;
                font-size: 30px;
                line-height: 1;
                font-weight: 700;
                color: $color-primary;
            }

            &:hover {
                text-decoration: none;

                .name {
                    border-bottom: 2px solid $color-primary;
                }

                svg {
                    stroke: #119EBB;
                }
            }
        }
    }

    .about {
        padding-top: 32px;
        padding-bottom: 126px;
        background-size: 100% auto;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        margin-top: -140px;
    }
}

/* === */



.about-item {
    p {
        font-size: 20px;
        line-height: 26px;
        font-weight: 300;
    }
}


/* FOOTER */
.footer {
    background-color: $color-primary;
    padding: 80px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* === */