//= header.html

    <main>
        <section class="main-slider arrows-white">
            <div class="slide">
            <img src="images/route-bg.png" alt="">
            <div class="container">
                <div class="row">
                <div class="col-12">
                    <div class="heading-wrap mb-8">
                        <h2 class="color-white text-left">БАРК<br>«КРУЗЕНШТЕРН»</h2>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="slide">
            <img src="images/route-bg.png" alt="">
            <div class="container">
                <div class="row">
                <div class="col-12">
                    <div class="heading-wrap mb-8">
                        <h2 class="color-white text-left">БАРК<br>«КРУЗЕНШТЕРН»</h2>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="slide">
            <img src="images/route-bg.png" alt="">
            <div class="container">
                <div class="row">
                <div class="col-12">
                    <div class="heading-wrap mb-8">
                        <h2 class="color-white text-left">БАРК<br>«КРУЗЕНШТЕРН»</h2>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>

        <section class="expedition-about">
            <div class="history-block">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="history-block-content">
                                <div class="text">
                                    <div class="heading-wrap mb-4">
                                    <h3 class="color-primary text-left">СЛОВО МИНИСТРА</h3>
                                    </div>
                                    <p>Барк «Крузенштерн» (sailing vessel Kruzenshtern) — российское парусное судно.
                                    В настоящий момент имеет статус учебного корабля, неоднократно совершавшего кругосветные путешествия.
                                    Базируется в городе Калининград.
                                    Парусник «Крузенштерн» был построен в 1926 году неподалеку от немецкого города Бремерхафен (верфь Дж. Текленбурга).
                                    При спуске и до момента передачи Советскому Союзу носил название «Падуя».
                                    В 1946 парусник перешёл в собственность СССР, после был переименован в честь известного русского адмирала Крузенштерна Ивана Фёдоровича.</p>

                                    <div class="ministr-titles">
                                        <p class="name">Константинопольский Константин Константинович</p>
                                        <p class="post">Министр</p>
                                    </div>
                                </div>
                                <div class="pic">
                                    <img class="bg" src="images/kruz-4.png">
                                    <img class="content" src="images/ministr.png">
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sailboats" style="background-image:url('images/sailboats-bg.png')">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="heading-wrap mb-8">
                                <h3 class="color-primary text-center">ПАРУСНИКИ - УЧАСТНИКИ ЭКСПЕДИЦИИ</h3>
                            </div>
                            <div class="boats-block mb-4">
                                <a href="javascript:void(0);" class="boat-item">
                                    <div class="pic text-center mb-4">
                                        <svg viewBox="0 0 1244.58 2980.26" width="120" height="270">  
                                            <use xlink:href="images/boat-sprite.svg#boat-1"></use>
                                        </svg>
                                    </div>
                                    <p class="name text-uppercase">«Крузенштерн»</p>
                                </a>
                                <a href="javascript:void(0);" class="boat-item mb-4">
                                    <div class="pic text-center mb-4">
                                        <svg viewBox="0 0 1244.58 2980.26" width="120" height="270">  
                                            <use xlink:href="images/boat-sprite.svg#boat-2"></use>
                                        </svg>
                                    </div>
                                    <p class="name text-uppercase">«Седов»</p>
                                </a>
                                <a href="javascript:void(0);" class="boat-item mb-4">
                                    <div class="pic text-center mb-4">
                                        <svg viewBox="0 0 1244.58 2980.26" width="120" height="270">  
                                            <use xlink:href="images/boat-sprite.svg#boat-3"></use>
                                        </svg>
                                    </div>
                                    <p class="name text-uppercase">«Паллада»</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about" style="background-image:url('images/about-bg.png')">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="heading-wrap mb-8">
                                <h2 class="color-primary text-center text-uppercase">ОБ ЭКСПЕДИЦИИ</h2>
                            </div>
                            <div class="about-item mb-7">
                                <h4 class="text-uppercase text-left mb-5">цели</h4>
                                <p>Уловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспе</p>
                            </div>
                            <div class="about-item mb-7">
                                <h4 class="text-uppercase text-left mb-5">задачи</h4>
                                <p>Уловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспе</p>
                            </div>
                            <div class="about-item mb-7">
                                <h4 class="text-uppercase text-left mb-5">чему посвящен</h4>
                                <p>Уловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспе</p>
                            </div>
                            <div class="about-item mb-7">
                                <h4 class="text-uppercase text-left mb-5">историческая справка</h4>
                                <p>Уловите свое руки мощные  вдохновениевкладывает в ваши  творческие инструменты, которые обеспечивают абсолютный контроль над текстом. их помощью вы любым элементам тени,  эффекты с использованием прозрачности. Они позволят вам создавать элегантные таблицы. И не бойтесь экспе</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ad-banner">
            <img src="images/advert.png" alt="">
        </section>

        <section class="sponsors-partners" style="background-image:url('images/sponsors-bg-2.png');">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading-wrap text-center mb-4">
                            <h2>СПОНСОРЫ</h2>
                        </div>
                        <div class="sponsors-slider">
                            <div class="slide">
                                <img src="images/nike.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="images/sber.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="images/nike.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="images/sber.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="images/nike.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="images/sber.png" alt="">
                            </div>
                            <div class="slide">
                                <img src="images/nike.png" alt="">
                            </div>
                        </div>

                        <div class="heading-wrap text-center mb-4">
                          <h2>ПАРТНЕРЫ</h2>
                        </div>
                        <div class="sponsors-slider">
                          <div class="slide">
                              <img src="images/nike.png" alt="">
                          </div>
                          <div class="slide">
                              <img src="images/sber.png" alt="">
                          </div>
                          <div class="slide">
                              <img src="images/nike.png" alt="">
                          </div>
                          <div class="slide">
                              <img src="images/sber.png" alt="">
                          </div>
                          <div class="slide">
                              <img src="images/nike.png" alt="">
                          </div>
                          <div class="slide">
                              <img src="images/sber.png" alt="">
                          </div>
                          <div class="slide">
                              <img src="images/nike.png" alt="">
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    //= footer.html
    </body>
</html>
